#timeline .line {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
}

#timeline .area {
  /*fill: #969696;*/
  fill: steelblue;
}

#timeline .attention {
  background: yellow;
  margin: -4px;
  padding: 4px;
}

div.tooltip {
    position: center;
    text-align: center;
    width: 200px;
    height: 28px;
    padding: 2px;
    font: 8px sans-serif;
    background: white;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}
/*commenting out bar formatting
.barChart .bar {
  fill: steelblue;
}
.barChart .x.axis path {
  display: none;
}
*/
#gates .x.axis text {
	text-anchor: end;
}

#gates svg {
	overflow: visible;
}
